Repository Growthers/Oshavery-Front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,json,css,scss}": "prettier --write"
}

update README.md
  README.md
Due: none

update gitignore
  .gitignore
Due: none

Security Update next.js
  package.json
  yarn.lock
Due: prettier --write

add Developer Yusuke
  README.md
Due: none

表示の修正
  README.md
Due: none

Update README.md
  README.md
Due: none

feat directories
  src/components/atoms/index.ts
  src/components/index.ts
  src/components/molecules/index.ts
  src/components/templates/index.ts
  src/hooks/index.ts
  src/types/index.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

add src/pages dir
  src/pages/.gitkeep
Due: none

feat next.js #283
  .editorconfig
  .eslintrc
  .gitignore
  .husky/pre-commit
  .npmrc
  .prettierrc
  next-env.d.ts
  next.config.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat CI #283
  .github/workflows/test.yml
Due: none

feat yarn.lock #283
  yarn.lock
Due: none

feat _app.tsx #283
  src/pages/.gitkeep
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

fix tsconfig
  tsconfig.json
Due: prettier --write

add stores dir #283
  src/stores/index.ts
Due: eslint --fix, prettier --write

✨ Add Storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

➕ Add testing packages
  package.json
  yarn.lock
Due: prettier --write

🙈 create eslintignore
  .eslintignore
Due: none

🙈 update eslint ignore
  .eslintignore
Due: none

🔧 Add Jest configuration's
  jest.config.js
  jest.setup.js
  package.json
Due: prettier --write

🙈 update eslintignore
  .eslintignore
Due: none

🤡 create mock configuration
  __mocks__/file.mock.js
  __mocks__/style.mock.js
Due: prettier --write

🔧 update storybook config
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write

✨ update name
  package.json
Due: prettier --write

🔧 update storybook configuration
  .storybook/main.js
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

🔥 remove all files
  .eslintignore
  .eslintrc
  .github/workflows/test.yml
  .husky/pre-commit
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  __mocks__/file.mock.js
  __mocks__/style.mock.js
  jest.config.js
  jest.setup.js
  next-env.d.ts
  next.config.js
  src/components/atoms/index.ts
  src/components/index.ts
  src/components/molecules/index.ts
  src/components/templates/index.ts
  src/hooks/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/stores/index.ts
  src/types/index.ts
  src/utils/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

🔧 create some config files
  .eslintignore
  .eslintrc.yml
  .prettierignore
  .prettierrc.yml
  .stylelintrc.yml
  renovate.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

🙈 update git ignore
  .gitignore
Due: none

✨ Add Storybook
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
Due: prettier --write

✨ Changes to React
  src/app.tsx
  src/index.html
  src/main.tsx
  src/pages/about.tsx
  src/pages/home.tsx
  src/pages/index.ts
  src/routes.tsx
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

🤡 add git keep
  src/components/.gitkeep
  src/stories/.gitkeep
  src/styles/.gitkeep
  src/tests/.gitkeep
Due: none

➕ refactor to React
  package.json
  yarn.lock
Due: prettier --write

➕ add stylelint-prettier setting
  .stylelintrc.yml
  package.json
  yarn.lock
Due: prettier --write

🎨 format the code
  README.md
  renovate.json
Due: prettier --write

🎨 sort the npm script
  package.json
Due: prettier --write

👷 add some CI
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

📝 update README
  README.md
Due: none

✨ fix version of oshavery
  package.json
Due: prettier --write

✨ fix wildcard
  package.json
  tsconfig.json
Due: prettier --write
